In [1]:
import pandas as pd

In [2]:
data_new = pd.read_csv('../../data/scrapped/avito_scraper1.csv')
data_new.head()

,Brand,Model,Year,Condition,Mileage,Gearbox,Fiscal Power,Fuel,Equipment,Number of Doors,Origin,First Owner,Location,Sector,Price
0,Volkswagen,Polo,1997,Good,200 000 - 249 999,Manual,8 CV,Diesel,"['Leather Seats', 'CD/MP3/Bluetooth']",NaN,NaN,NaN,Tétouan,City Center,27000.0
1,Dacia,Sandero,2012,Very Good,180 000 - 189 999,Manual,6 CV,Diesel,"['Rear Camera', 'Electric Windows']",5.0,WW in Morocco,No,Temara,City Center,69000.0
2,Volkswagen,Polo,2004,Fair,300 000 - 349 999,Manual,8 CV,Diesel,"['Alloy Wheels', 'Electric Windows']",5.0,WW in Morocco,No,Safi,Chenguite,45000.0
3,Bentley,Continental gtc,2009,Excellent,45 000 - 49 999,Automatic,34 CV,Petrol,"['Rear Camera', 'Electric Windows']",3.0,Customs-cleared car,Yes,Casablanca,Aïn Chock,720000.0
4,mini,cooper,2013,Excellent,85 000 - 89 999,Automatic,8 CV,Diesel,"['Airbags', 'CD/MP3/Bluetooth', 'Rear Camera',...",5.0,WW in Morocco,No,Fès,Agdal,128000.0

Clean The Data

In [3]:
data_new.shape

(101896, 15)

In [4]:
data_new.isna().sum()

Brand                  1
Model                  1
Year                   0
Condition           3583
Mileage                1
Gearbox                0
Fiscal Power         280
Fuel                   0
Equipment              0
Number of Doors    11415
Origin             11975
First Owner        14700
Location               0
Sector               246
Price              25483
dtype: int64

In [5]:
#number of duplicates
data_new.duplicated().sum()

2805

In [6]:
#number of duplicates
data_new.drop_duplicates(inplace=True)

In [7]:
#number of duplicates
data_new.duplicated().sum()

0

In [8]:
data_new.shape

(99091, 15)

In [9]:
#name of columns
data_new.columns.to_list()

['Brand',
 'Model',
 'Year',
 'Condition',
 'Mileage',
 'Gearbox',
 'Fiscal Power',
 'Fuel',
 'Equipment',
 'Number of Doors',
 'Origin',
 'First Owner',
 'Location',
 'Sector',
 'Price']

In [10]:
data_new = data_new.dropna(subset=['Price'])
data_new.shape

(74670, 15)

In [11]:
data_new.isna().sum()

Brand                 1
Model                 1
Year                  0
Condition          2142
Mileage               1
Gearbox               0
Fiscal Power        214
Fuel                  0
Equipment             0
Number of Doors    7344
Origin             8330
First Owner        9346
Location              0
Sector              175
Price                 0
dtype: int64

In [12]:
#remove the column condition 
data_new = data_new.drop(columns=['Condition'])

In [13]:
#remove the column Sector 
data_new = data_new.drop(columns=['Sector'])

In [14]:
#remove the column Equipment 
data_new = data_new.drop(columns=['Equipment'])

In [15]:
#renommer les colones du dataFrame data_new
data_new.rename(columns={'Gearbox':'Boite de vitesses'},inplace=True)
data_new.rename(columns={'Price':'Prix'},inplace=True)
data_new.rename(columns={'Brand':'Marque'},inplace=True)
data_new.rename(columns={'Model':'Modèle'},inplace=True)
data_new.rename(columns={'Year':'Année-Modèle'},inplace=True)
data_new.rename(columns={'Mileage':'Kilométrage'},inplace=True)
data_new.rename(columns={'Fiscal Power':'Puissance fiscale'},inplace=True)
data_new.rename(columns={'Origin':'Origine'},inplace=True)
data_new.rename(columns={'Location':'Ville'},inplace=True)
data_new.rename(columns={'First Owner':'Première main'},inplace=True)
data_new.rename(columns={'Fuel':'Type de carburant'},inplace=True)
data_new.rename(columns={'Number of Doors':'Nombre de portes'},inplace=True)

In [16]:
data_new.head()

,Marque,Modèle,Année-Modèle,Kilométrage,Boite de vitesses,Puissance fiscale,Type de carburant,Nombre de portes,Origine,Première main,Ville,Prix
0,Volkswagen,Polo,1997,200 000 - 249 999,Manual,8 CV,Diesel,NaN,NaN,NaN,Tétouan,27000.0
1,Dacia,Sandero,2012,180 000 - 189 999,Manual,6 CV,Diesel,5.0,WW in Morocco,No,Temara,69000.0
2,Volkswagen,Polo,2004,300 000 - 349 999,Manual,8 CV,Diesel,5.0,WW in Morocco,No,Safi,45000.0
3,Bentley,Continental gtc,2009,45 000 - 49 999,Automatic,34 CV,Petrol,3.0,Customs-cleared car,Yes,Casablanca,720000.0
4,mini,cooper,2013,85 000 - 89 999,Automatic,8 CV,Diesel,5.0,WW in Morocco,No,Fès,128000.0

In [17]:
data_new.shape

(74670, 12)

In [18]:
data_new.isna().sum()

Marque                  1
Modèle                  1
Année-Modèle            0
Kilométrage             1
Boite de vitesses       0
Puissance fiscale     214
Type de carburant       0
Nombre de portes     7344
Origine              8330
Première main        9346
Ville                   0
Prix                    0
dtype: int64

In [19]:
#fill the none values in Nombre porte with 3 if they have a model in the models where Nombreporte = 3 in our data
data_new.loc[(data_new['Modèle'].isin(data_new[data_new['Nombre de portes']==3]['Modèle'].unique())) 
                  & (data_new['Nombre de portes'].isna()),'Nombre de portes']=3

In [20]:
#fill the none values in Nombre porte with 3 if they have a model in the models where Nombreporte = 3 in our data
data_new.loc[(data_new['Modèle'].isin(data_new[data_new['Nombre de portes']==5]['Modèle'].unique())) 
                  & (data_new['Nombre de portes'].isna()),'Nombre de portes']=5

In [21]:
data_new['Nombre de portes'].unique()

array([ 3.,  5., nan])

In [22]:
data_new.isna().sum()

Marque                  1
Modèle                  1
Année-Modèle            0
Kilométrage             1
Boite de vitesses       0
Puissance fiscale     214
Type de carburant       0
Nombre de portes       33
Origine              8330
Première main        9346
Ville                   0
Prix                    0
dtype: int64

In [23]:
#remove all rows that has a weird price
data_new=data_new.drop(data_new[data_new['Prix'] < 20000].index)

In [24]:
data_new.shape

(72826, 12)

In [25]:
data_new = data_new.dropna(subset=['Kilométrage','Marque','Modèle','Origine','Première main','Puissance fiscale','Nombre de portes'])

In [26]:
data_new.isna().sum()

Marque               0
Modèle               0
Année-Modèle         0
Kilométrage          0
Boite de vitesses    0
Puissance fiscale    0
Type de carburant    0
Nombre de portes     0
Origine              0
Première main        0
Ville                0
Prix                 0
dtype: int64

In [27]:
data_new.shape

(59761, 12)

In [28]:
# data_new['Ville'].unique()

In [29]:
# remove the cities in arabic 
data_new=data_new.drop(data_new[data_new['Ville']=='الدار البيضاء'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='فاس'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='المحمدية'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='الناظور'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='القنيطرة'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='طنجة'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='تمارة'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='مراكش'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='أكادير'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='تطوان'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='مكناس'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='الجديدة'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='الرباط'].index)
data_new=data_new.drop(data_new[data_new['Ville']=='الجديدة'].index)

In [30]:
data_new['Type de carburant'].unique()

array(['Diesel', 'Petrol', 'Electrique', 'Hybrid', 'LPG'], dtype=object)

In [31]:
# Convert 'yes' → 'oui' and 'no' → 'non'
data_new['Première main'] = data_new['Première main'].replace({'Yes': 'Oui', 'No': 'Non'})

In [32]:
data_new['Première main']

1         Non
2         Non
3         Oui
4         Non
7         Non
         ...
101886    Non
101888    Non
101889    Non
101891    Non
101892    Non
Name: Première main, Length: 59712, dtype: object

In [33]:
data_new['Type de carburant'].unique()

array(['Diesel', 'Petrol', 'Electrique', 'Hybrid', 'LPG'], dtype=object)

In [34]:
# traduire petrol a essence 
data_new['Type de carburant'] = data_new['Type de carburant'].replace({'Petrol': 'Essence'})

In [35]:
data_new['Type de carburant'].unique()

array(['Diesel', 'Essence', 'Electrique', 'Hybrid', 'LPG'], dtype=object)

In [36]:
data_new.shape

(59712, 12)

In [37]:
#remove the CV in the column Puissange fiscale  
data_new['Puissance fiscale']=data_new['Puissance fiscale'].astype(str).str.split().apply(lambda x : x[0] if len(x[0])>0 else None)
#convert to the column to num
data_new['Puissance fiscale'] = pd.to_numeric(data_new['Puissance fiscale'], errors='coerce')

In [38]:
#convert the column Kilometrage to a single value
data_new['Kilométrage'] = data_new['Kilométrage'].astype(str).str.replace(' ','').str.split('-').apply(lambda x :(int(x[0])+int(x[1]))/2 if len(x)==2 else None)

In [39]:
data_new.tail()

,Marque,Modèle,Année-Modèle,Kilométrage,Boite de vitesses,Puissance fiscale,Type de carburant,Nombre de portes,Origine,Première main,Ville,Prix
101886,Citroen,C3,2017,97499.5,Manual,6.0,Diesel,5.0,WW in Morocco,Non,Casablanca,109000.0
101888,Dacia,Logan,2007,274999.5,Manual,6.0,Diesel,5.0,WW in Morocco,Non,Dcheïra El Jihadia,60000.0
101889,Ford,Focus,2007,224999.5,Manual,7.0,Diesel,5.0,Customs-cleared car,Non,Salé,77000.0
101891,Suzuki,Celerio,2011,194999.5,Manual,5.0,Essence,5.0,WW in Morocco,Non,Tétouan,55000.0
101892,Volkswagen,Polo,2012,12499.5,Manual,5.0,Diesel,5.0,WW in Morocco,Non,Casablanca,100000.0

In [40]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59712 entries, 1 to 101892
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Marque             59712 non-null  object
 1   Modèle             59712 non-null  object
 2   Année-Modèle       59712 non-null  object
 3   Kilométrage        59208 non-null  float64
 4   Boite de vitesses  59712 non-null  object
 5   Puissance fiscale  59544 non-null  float64
 6   Type de carburant  59712 non-null  object
 7   Nombre de portes   59712 non-null  float64
 8   Origine            59712 non-null  object
 9   Première main      59712 non-null  object
 10  Ville              59712 non-null  object
 11  Prix               59712 non-null  float64
dtypes: float64(4), object(8)
memory usage: 5.9+ MB

In [41]:
count = (data_new['Année-Modèle'] == '1980 ou plus ancien').sum()
print(count)

123

In [42]:
data_new = data_new.drop(
    data_new[data_new['Année-Modèle'] == '1980 ou plus ancien'].index
)

In [43]:
#supprimer les lignes qui ont la colonne puissance fiscale est null
data_new.dropna(subset=['Puissance fiscale'],inplace=True)

In [44]:
data_new.isna().sum()

Marque                 0
Modèle                 0
Année-Modèle           0
Kilométrage          489
Boite de vitesses      0
Puissance fiscale      0
Type de carburant      0
Nombre de portes       0
Origine                0
Première main          0
Ville                  0
Prix                   0
dtype: int64

In [45]:
data_new.reset_index(drop=True,inplace=True)

In [46]:
data_new['Boite de vitesses'].value_counts()

Boite de vitesses
Manual       40854
Automatic    18569
Name: count, dtype: int64

In [47]:
# traduire boite de vitesses
data_new['Boite de vitesses'] = data_new['Boite de vitesses'].replace({'Manual': 'Manuelle'})
data_new['Boite de vitesses'] = data_new['Boite de vitesses'].replace({'Automatic': 'Automatique'})

In [48]:
data_new['Origine']=data_new['Origine'].replace({'WW in Morocco':'WW au Maroc'})
data_new['Origine']=data_new['Origine'].replace({'Customs-cleared car':'Dédouanée'})
data_new['Origine']=data_new['Origine'].replace({'Imported New':'Importée neuve'})

In [49]:
data_new = data_new[data_new['Origine'] != 'Car not yet customs-cleared']

In [50]:
data_new['Origine'].unique()

array(['WW au Maroc', 'Dédouanée', 'Importée neuve'], dtype=object)

In [51]:
#convert the column Année-Modèle to a num
data_new['Année-Modèle'] = pd.to_numeric(data_new['Année-Modèle'], errors='coerce').fillna(0).astype(int)

In [52]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58965 entries, 0 to 59422
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Marque             58965 non-null  object
 1   Modèle             58965 non-null  object
 2   Année-Modèle       58965 non-null  int32
 3   Kilométrage        58479 non-null  float64
 4   Boite de vitesses  58965 non-null  object
 5   Puissance fiscale  58965 non-null  float64
 6   Type de carburant  58965 non-null  object
 7   Nombre de portes   58965 non-null  float64
 8   Origine            58965 non-null  object
 9   Première main      58965 non-null  object
 10  Ville              58965 non-null  object
 11  Prix               58965 non-null  float64
dtypes: float64(4), int32(1), object(7)
memory usage: 5.6+ MB

In [53]:
data_new.to_csv('../../data/scrapped/voitures_clean3.csv',index=False)